html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Lato, serif;
  padding: 2px 32px;
  margin: 0 auto;
  max-width: 1041px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h3,
h5 {
  margin: 10px 0;
}

a {
  color: #77a34f;
}

a.title {
  color: black;
  text-decoration: none;
}

.flex-1 {
  flex-basis: 100%;
}

.flex-2 {
  flex-basis: 50%;
}

.flex-3 {
  flex-basis: 33%;
}

.flex-4 {
  flex-basis: 25%;
}

.flex-5 {
  flex-basis: 20%;
}

.textButton.flex-1 {
  flex-basis: calc(100% - 10px);
}

.textButton.flex-2 {
  flex-basis: calc(50% - 10px);
}

.textButton.flex-3 {
  flex-basis: calc(33% - 10px);
}

.textButton.flex-4 {
  flex-basis: calc(25% - 10px);
}

.textButton.flex-5 {
  flex-basis: calc(20% - 10px);
}

.clear {
  clear: both;
  margin: 0 !important;
}

.imgOption {
  display: block;
  width: 100%;
  margin: 5px auto 0 auto !important;
  box-sizing: border-box;
  background-size: cover;
}

.imgOption.shrink {
  height: 75%;
  padding-bottom: 25%;
}

.full-width {
  width: 100%;
}

.comments {
  height: 200px;
  width: 100% !important;
  box-sizing: border-box;
}

button {
  border: 2px solid #77a34f;
  border-radius: 8px;
  padding: 10px;
  font-family: Lato, serif;
  font-size: 20px;
  margin: 5px 0;
  user-select: none;
  transition: background-color 0.2s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

button:active {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

button > p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  user-select: none;
}

#quote,
#ground {
  width: 70%;
}

.centered {
  text-align: center;
}

.centered tr {
  display: flex;
}

.centered tr td {
  flex: 1;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0.5em;
  }
}
